<!-- Moe Tinawi -->

<aside>
    <div class="aside-box">
        <div class="title">Corona-Update</div>
        <div class="content">
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
                et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                rebum.</p>
        </div>
    </div>
    <div class="aside-box">
        <div class="title">Neuigkeiten</div>
        <div class="content">
            <div class="single-news">
                <div class="title">Lorem Ipsum</div>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua.</p>
            </div>
            <div class="single-news">
                <div class="title">Lorem Ipsum</div>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua.</p>
            </div>
            <div class="single-news">
                <div class="title">Lorem Ipsum</div>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua.</p>
            </div>
        </div>
    </div>
</aside>