<!-- Simon Widanski -->
<footer>
    <div class="footer-top">
        <div class="footer-top__inner">
            <nav class="footer-nav">
                <ul>
                    <li><a href="/datenschutz">Datenschutz</a></li>
                    <li><a href="/impressum">Impressum</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="footer-bottom__inner">
            <div class="credit">Handgemacht mit <i class="ti-heart"></i> von Simon Widanski, Moe Tinawi und Jonas Lörken
            </div>
        </div>
    </div>
</footer>

<script src="/js/scripts.js"></script>
</body>

</html>