        /* Reset Style */
        
        * {
            box-sizing: border-box;
        }
        
        body {
            margin: 0;
            padding: 0;
        }
        
        p {
            margin: 0;
        }
        
        a {
            color: white;
            font-weight: normal;
            text-decoration: none;
        }
        
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin: 0;
        }
        /* Global */
        
        body {
            font-family: 'Karla', sans-serif;
            font-size: 18px;
        }
        /* Font */
        
        h1 {
            color: #f55500;
            font-size: 40px;
            margin-bottom: 50px;
            font-family: "Oswald", sans-serif;
            text-transform: uppercase;
        }
        /* Header */
        
        header .header-bottom {
            background: #f55500;
            padding: 20px 0;
        }
        
        header .header-bottom .header-bottom__inner {
            max-width: 1400px;
            width: 100%;
            margin: 0 auto;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            padding: 0 15px;
        }
        
        header .header-bottom .header-bottom__inner .logo {
            margin-right: 100px;
        }
        
        header .header-bottom .header-bottom__inner .logo img {
            display: felx;
            max-height: 45px;
            width: auto;
            display: block;
            float: left;
            vertical-align: middle;
        }
        
        header .header-bottom .header-bottom__inner h1 {
            color: white;
            vertical-align: middle;
        }