    /* Reset Style */
    
    * {
        box-sizing: border-box;
    }
    
    body {
        margin: 0;
        padding: 0;
    }
    
    p {
        margin: 0;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
    }
    /* Global */
    
    body {
        font-family: 'Karla', sans-serif;
        font-size: 18px;
    }
    /* Font */
    
    h1 {
        color: #f55500;
        font-size: 40px;
        margin-bottom: 50px;
        font-family: "Oswald", sans-serif;
        text-transform: uppercase;
    }
    /* Header */
    
    header .header-top {
        background: #dc4c00;
        padding: 10px 0;
        font-size: 14px;
    }
    
    header .header-top .header-top__inner {
        max-width: 1400px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
        padding: 0 15px;
    }
    
    header .header-top .header-top__inner .contact-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    header .header-top .header-top__inner .contact-list li {
        display: inline-block;
        margin-right: 40px;
    }
    
    header .header-top .header-top__inner .contact-list li:last-child {
        margin-right: 0;
    }
    
    header .header-top .header-top__inner .contact-list li a {
        color: #fff;
        text-decoration: none;
    }
    
    header .header-top .header-top__inner .contact-list li a i {
        margin-right: 6px;
        position: relative;
        top: 1px;
    }
    
    header .header-top .header-top__inner .fh-link {
        color: #fff;
        text-decoration: none;
    }
    
    header .header-top .header-top__inner .fh-link i {
        margin-right: 6px;
        position: relative;
        top: 1px;
    }
    
    header .header-bottom {
        background: #f55500;
        padding: 20px 0;
    }
    
    header .header-bottom .header-bottom__inner {
        max-width: 1400px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        padding: 0 15px;
    }
    
    header .header-bottom .header-bottom__inner .logo {
        margin-right: 100px;
    }
    
    header .header-bottom .header-bottom__inner .logo img {
        max-height: 45px;
        width: auto;
        display: block;
    }
    
    header .header-bottom .header-bottom__inner .main-nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    header .header-bottom .header-bottom__inner .main-nav ul li {
        display: inline-block;
        margin-right: 35px;
    }
    
    header .header-bottom .header-bottom__inner .main-nav ul li:last-child {
        margin-right: 0;
    }
    
    header .header-bottom .header-bottom__inner .main-nav ul li a {
        display: inline-block;
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        position: relative;
    }
    
    header .header-bottom .header-bottom__inner .main-nav ul li a:after {
        content: "";
        position: absolute;
        left: 0;
        top: 100%;
        background: #fff;
        width: 0;
        height: 1px;
        display: block;
        margin-top: 2px;
        transition: all 0.3s ease;
    }
    
    header .header-bottom .header-bottom__inner .main-nav ul li.active a:after,
    header .header-bottom .header-bottom__inner .main-nav ul li:hover a:after {
        width: 100%;
    }
    
    header .header-bottom .header-bottom__inner .profile-link {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        padding-left: 20px;
        margin-left: auto;
        position: relative;
    }
    
    header .header-bottom .header-bottom__inner .profile-link .profile-link__trigger {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        cursor: pointer;
        color: #fff;
        font-weight: bold;
    }
    
    header .header-bottom .header-bottom__inner .profile-link .profile-link__trigger i {
        margin-left: 6px;
        font-size: 14px;
    }
    
    header .header-bottom .header-bottom__inner .profile-link .profile-link__trigger .image {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 10px;
    }
    
    header .header-bottom .header-bottom__inner .profile-link .profile-link__trigger .image img {
        width: 100%;
        height: auto;
    }
    
    header .header-bottom .header-bottom__inner .profile-link .profile-link__menu {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        background: #f55500;
        white-space: nowrap;
        margin-top: 28px;
        display: none;
    }
    
    header .header-bottom .header-bottom__inner .profile-link .profile-link__menu.visible {
        display: block;
    }
    
    header .header-bottom .header-bottom__inner .profile-link .profile-link__menu:before {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #f55500;
    }
    
    header .header-bottom .header-bottom__inner .profile-link .profile-link__menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    header .header-bottom .header-bottom__inner .profile-link .profile-link__menu ul li a {
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        padding: 10px;
        display: block;
        transition: all 0.3s ease;
    }
    
    header .header-bottom .header-bottom__inner .profile-link .profile-link__menu ul li:hover a {
        background: #dc4c00;
    }
    /* Content */
    
    #content {
        display: flex;
        flex-flow: row wrap;
        padding: 80px 0;
        max-width: 1400px;
        width: 100%;
        margin: 0 auto;
    }
    /* Main */
    
    #content main {
        flex: 0 0 75%;
        width: 75%;
        padding: 0 15px;
    }
    /*Main Tabelle Auleihen*/
    
    #content main .ausleihen table {
        border-collapse: collapse;
        width: 100%;
    }
    
    #content main .ausleihen table td,
    #content main .ausleihen table th {
        border: 1px solid #ddd;
        padding: 8px;
    }
    
    #content main .ausleihen table tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    
    #content main .ausleihen table tr:hover {
        background-color: #ddd;
    }
    
    #content main .ausleihen table th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #f55500;
        color: white;
    }
    
    #content main .ausleihen table #details {
        text-align: center;
        color: rgb(8, 4, 241);
        text-decoration: underline;
    }
    
    #content main .ausleihen table #ueberzogen {
        background-color: red;
        color: white;
    }
    
    #content main .ausleihen table #ueberzogen:hover {
        background-color: rgb(196, 0, 0);
        color: white;
    }
    /* Profil Formular */
    
    #content main .information {
        display: grid;
        grid-template-columns: 300px auto;
    }
    
    #content main .information img {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    
    #content main #block1 {
        display: block;
        grid-column-start: 2;
        grid-column-end: 4;
        margin-left: 20px;
        margin-bottom: 10px;
    }
    
    #content main #block2 {
        display: block;
        grid-row-start: 2;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 4;
        margin-bottom: 10px;
        padding-top: 10px;
    }
    
    #content main #block1 input {
        width: 100%;
    }
    
    #content main #block2 input,
    #content main #block2 select {
        width: 100%;
    }
    
    #content main .information form label {
        font-weight: bold;
    }
    
    #content main .information form input,
    #content main .information form select {
        width: 90%;
        border-radius: 5px;
        padding: 12px 20px;
        margin: 12px 0;
    }
    /* Aside */
    
    #content aside {
        flex: 0 0 25%;
        width: 25%;
        padding: 0 15px;
    }
    
    #content aside .aside-box {
        margin-bottom: 30px;
    }
    
    #content aside .aside-box .title {
        background: #dc4c00;
        color: #fff;
        padding: 20px;
        font-weight: bold;
        font-size: 20px;
    }
    
    #content aside .aside-box .content {
        background: #f55500;
        color: #fff;
        padding: 20px;
        font-size: 20px;
        font-size: 16px;
    }
    
    #content aside .aside-box .profile__pic {
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    #content aside .aside-box ul {
        padding: 0px;
        margin-left: 0;
        margin-right: auto;
    }
    
    #content aside .aside-box li {
        font-size: 16px;
        list-style: none;
        line-height: 30px;
    }
    
    #content aside .aside-box .content .single-news {
        border-bottom: dashed 1px #fff;
        margin: 0 -20px;
        padding: 0 20px;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
    
    #content aside .aside-box .content .single-news:last-of-type {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
    }
    
    #content aside .aside-box .content .single-news .title {
        background: transparent;
        padding: 0;
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 5px;
    }
    /* Headline */
    
    .headline {
        flex: 0 0 100%;
        width: 100%;
        padding: 0 15px;
    }
    /* Locations */
    
    .locations-overview {
        display: flex;
        flex-flow: row wrap;
        margin: 0 -15px;
    }
    
    .locations-overview .location {
        display: block;
        flex: 0 0 33.33333%;
        width: 33.33333%;
        padding: 0 15px;
    }
    
    .locations-overview .location .location__image img {
        width: 100%;
        height: auto;
        display: block;
    }
    
    .locations-overview .location .location__info {
        background: #f55500;
        padding: 20px;
        color: #fff;
    }
    
    .locations-overview .location .location__info .title {
        font-weight: bold;
        font-size: 22px;
        margin-bottom: 30px;
    }
    
    .locations-overview .location .location__info address {
        font-style: normal;
    }
    
    .locations-overview .location .location__link {
        background: #dc4c00;
        padding: 20px;
        font-weight: bold;
        text-decoration: none;
        color: #fff;
        display: block;
    }
    
    .locations-overview .location .location__link i {
        position: relative;
        top: 2px;
        margin-left: 5px;
        transition: all 0.3s ease;
    }
    
    .locations-overview .location .location__link:hover i {
        margin-left: 10px;
    }
    /* Footer */
    
    footer .footer-top {
        background: #f55500;
        padding: 20px 0;
    }
    
    footer .footer-top .footer-top__inner {
        max-width: 1400px;
        width: 100%;
        margin: 0 auto;
        padding: 0 15px;
    }
    
    footer .footer-top .footer-top__inner .footer-nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    footer .footer-top .footer-top__inner .footer-nav ul li {
        display: inline-block;
        margin-right: 30px;
    }
    
    footer .footer-top .footer-top__inner .footer-nav ul li:last-child {
        margin-right: 0;
    }
    
    footer .footer-top .footer-top__inner .footer-nav ul li a {
        color: #fff;
        font-weight: bold;
        text-decoration: none;
    }
    
    footer .footer-bottom {
        padding: 15px 0;
    }
    
    footer .footer-bottom .footer-bottom__inner {
        max-width: 1400px;
        width: 100%;
        margin: 0 auto;
        padding: 0 15px;
    }
    
    footer .footer-bottom .footer-bottom__inner .credit i {
        color: #f03434;
        position: relative;
        top: 2px;
    }