<%- include("parts/header", {current: "datenschutz"}) %>

<div id="content_pflichtpage">
    <a href="/impressum"><button class="button__impressum">Impressum</button></a><button class="button__datenschutz__active">Datenschutz</button>
    <section class="Impressum">
        <section class="headline">
            <h1>Datenschutz</h1>
        </section>
        <main>
            <p>Anbieter:<br />Max Mustermann<br />Musterstraße 1<br />80999 München</p>
            </br>
            <p>Kontakt:<br />Telefon: 089/1234567-8<br />Telefax: 089/1234567-9<br />E-Mail: mail@mustermann.de<br />Website: www.mustermann.de</p>
            </br>

            <p>Bei redaktionellen Inhalten:</p>
            <p>Verantwortlich nach § 55 Abs.2 RStV<br />Moritz Schreiberling<br />Musterstraße 2<br />80999 München</p>
        </main>
    </section>
</div>

<%- include("parts/footer") %>