<!-- Jonas Lörken -->

<%- include("parts/header_logout", {current: "user"}) %>

<div id="content">
    <section class="headline">
        <h1>Login</h1>
    </section>
    <main>
        <section class="form">
            <h2>Jetzt anmelden</h2>
            <form>
                <div class="form__half">
                    <label for="vnam ">Unikennung:
                        <input id="vname" name="vname" value="mamus001" type="text" required>
                    </label>
                    <label for="name">Passwort:
                        <input id="name" name="name" value="Mustermann" type="password" required>
                    </label>
                </div>
            </form>
        </section>
        <a href="/" class="button primary filled">Anmelden</a>
    </main>
</div>

<%- include("parts/footer") %>