<!-- Jonas Lörken -->

<%- include("parts/header_logout", {current: "user"}) %>

<div id="content">
    <section class="headline">
        <h1>Logout</h1>
    </section>
    <main>
        <section class="content">
            <h2>Bis bald!</h2>
            <div class="response success">Du hast dich erfolgreich abgemeldet.</div>
            <a href="/" class="button primary filled">Zurück zur Startseite</a>
        </section>
    </main>
</div>

<%- include("parts/footer") %>