<!-- Jonas Lörken -->

<%- include("parts/header", {current: "standorte"}) %>

<div id="content">
    <section class="headline">
        <h1>Standort hinzufügen</h1>
    </section>
    <main>
        <section class="form">
            <form action="/standorte" method="POST" id="location-form">
                <div class="input-group">
                    <h2>Kontaktdaten</h2>
                    <label>
                        Name:
                        <input type="text" name="name" placeholder="Name" required>
                    </label>
                    <label>
                        Straße + Nr.:
                        <input type="text" name="address" placeholder="Straße + Nr." required>
                    </label>
                    <label>
                        PLZ:
                        <input type="text" name="zip" placeholder="PLZ" pattern="[0-9]{5}" required>
                    </label>
                    <label>
                        Ort:
                        <input type="text" name="city" placeholder="Ort" required>
                    </label>
                    <label>
                        Telefon:
                        <input type="text" name="phone" placeholder="Telefon" required>
                    </label>
                    <label>
                        Fax:
                        <input type="text" name="fax" placeholder="Fax" required>
                    </label>
                </div>
                <div class="input-group">
                    <h2>Öffnungs- und Servicezeiten</h2>
                    <label class="horizontal">
                        <span>Montag</span>
                        <input type="text" name="monday" placeholder="Montag" required>
                    </label>
                    <label class="horizontal">
                        <span>Dienstag</span>
                        <input type="text" name="tuesday" placeholder="Dienstag" required>
                    </label>
                    <label class="horizontal">
                        <span>Mittwoch</span>
                        <input type="text" name="wednesday" placeholder="Mittwoch" required>
                    </label>
                    <label class="horizontal">
                        <span>Donnerstag</span>
                        <input type="text" name="thursday" placeholder="Donnerstag" required>
                    </label>
                    <label class="horizontal">
                        <span>Freitag</span>
                        <input type="text" name="friday" placeholder="Freitag" required>
                    </label>
                </div>
                <div class="input-group">
                    <h2>Ausstattung</h2>
                    <button class="button primary outline" style="margin-top:0;" id="add-feature"><i
                            class="ti-plus"></i>Ausstattung hinzufügen</button>
                </div>
                <button type="submit" class="button primary filled">Standort hinzufügen</button>
            </form>
        </section>
    </main>
    <%- include("parts/aside") %>
</div>

<%- include("parts/footer") %>