<%- include("parts/header", {current: "404"}) %>

<div id="content">
    <section class="headline">
        <h1>404 - Seite nicht gefunden</h1>
    </section>
    <main>
        <section>
            <p>Die aufgerufene Seite konnte nicht gefunden werden.</p>
        </section>
    </main>
</div>

<%- include("parts/footer") %>