<%- include("parts/header", {current: "buecher-detail"}) %>

    <div id="content">
        <section class="headline">
            <h1>MusterBook</h1>
        </section>
        <main>
            <section class="buch-details">
                <div class="grid-container">


                    <div class="left-side">
                        <img src="/img/comingsoon.png" alt=" " class="photo">
                        <p class="autor-name">Autor</p>
                        <p class="fachrichtung">Fachrichtung</p>
                        <p class="jahr">Jahr</p>
                        <p class="ISBN">ISBN</p>
                    </div>
                    <div class="right-side">
                        <p class="beschreibung">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque iusto dolores eveniet totam sit molestiae adipisci rerum libero facere aut officiis inventore quo debitis error dolore quasi quis eligendi, ad minus, accusamus labore,
                            consequatur quod! In aspernatur assumenda, reiciendis atque, iusto delectus repellendus quos corporis perspiciatis, iure facere dicta sit?</p>
                        <p class="autor-name-answer"> Herr Musterman</p>
                        <p class="fachrichtung-answer">Praktische Informatik</p>
                        <p class="jahr-answer">1992</p>
                        <p class="ISBN-answer">156518926</p>
                    </div>
                </div>
                <a href="reservierungen-add"><button class="button primary filled">Buch reservieren</button></a>

            </section>


        </main>
        <%- include("parts/aside") %>
    </div>

    <%- include("parts/footer") %>