<!DOCTYPE HTML>
<html lang="de">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Buuk</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Oswald:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/themify-icons.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <%- include("parts/header", {current: "datenschutz"}) %>

        <div id="content_pflichtpage">
            <a href="impressum"><button class="button__impressum">Impressum</button></a><button class="button__datenschutz__active">Datenschutz</button>
            <section class="Impressum">
                <section class="headline">
                    <h1>Datenschutz</h1>
                </section>
                <main>
                    <p>Anbieter:<br />Max Mustermann<br />Musterstraße 1<br />80999 München</p>
                    </br>
                    <p>Kontakt:<br />Telefon: 089/1234567-8<br />Telefax: 089/1234567-9<br />E-Mail: mail@mustermann.de<br />Website: www.mustermann.de</p>
                    </br>

                    <p>Bei redaktionellen Inhalten:</p>
                    <p>Verantwortlich nach § 55 Abs.2 RStV<br />Moritz Schreiberling<br />Musterstraße 2<br />80999 München</p>
                </main>
            </section>
        </div>

        <%- include("parts/footer") %>

            <script src="js/scripts.js"></script>
</body>

</html>