<!DOCTYPE HTML>
<html lang="de">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Buuk</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Oswald:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/themify-icons.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <%- include("parts/header", {current: "reservierungen-add"}) %>

        <div id="content">
            <section class="headline">
                <h1>Reservierungsdetails</h1>
            </section>
            <main>
                <section class="details">

                    <div class="details__image">
                        <img src="https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX3078042.jpg" alt=" ">
                        <figcaption> QR-Code am Terminal scannen um Buch auszuleihen</figcaption>

                    </div>
                    <div class="details__half">
                        <section class="detail__section">
                            <h2>Buchtitel:</h2>
                            <p>WebTech 1</p>
                        </section>
                        <section class="detail__section">
                            <h2>Autor:</h2>
                            <p>Max Mustermann</p>
                        </section>
                        <section class="detail__section">
                            <h2>ISBN:</h2>
                            <p>123456789-9</p>
                        </section>
                        <section class="detail__section">
                            <h2>Erscheinungsjahr:</h2>
                            <p>2019</p>
                        </section>
                    </div>
                    <div class="details__full">
                        <section class="detail__section">
                            <h2>Datum von:</h2>
                            <p>123456789-9</p>
                        </section>
                        <section class="detail__section">
                            <h2>Datum Bis:</h2>
                            <p>123456789-9</p>
                        </section>
                        <section class="detail__section">
                            <h2>Standort</h2>
                            <p>Emil-Figge-Straße 44</p>
                        </section>
                        <section class="detail__section">
                            <h2>Regal</h2>
                            <p>O1-B-14-3</p>
                        </section>
                        <section class="detail__section">
                            <h2>Reservierungs-ID</h2>
                            <p>1478-4699-4547-3215-8475</p>
                        </section>
                    </div>

                    <button class="button primary filled">Reservierung bearbeiten</button>
                    <button class="button error outline">Reservierung löschen</button>
                </section>
            </main>
            <%- include("parts/aside") %>
        </div>

        <%- include("parts/footer") %>

            <script src="js/scripts.js"></script>
</body>

</html>