<%- include("parts/header", {current: "reservierungen"}) %>

<div id="content">
    <section class="headline">
        <h1>Meine Reservierungen</h1>
    </section>
    <main>
        <section class="reservations">
            <table class="table">
                <tr>
                    <th>Buch</th>
                    <th>Autor</th>
                    <th>Datum von</th>
                    <th>Datum bis</th>
                    <th>Standort</th>
                    <th></th>
                </tr>
                <tr>
                    <td><a href="buecher-detail">Buchname</a></td>
                    <td>Herr Musterautor</td>
                    <td>10.10.2020</td>
                    <td>12.11.2020</td>
                    <td><a href="standorte-detail">Emil-Figge-Straße 44</a></td>
                    <td><a href="reservierungen-detail">Details</a></td>
                </tr>
                <tr>
                    <td><a href="buecher-detail">Buchname</a></td>
                    <td>Herr Musterautor</td>
                    <td>10.10.2020</td>
                    <td>12.11.2020</td>
                    <td><a href="standorte-detail">Emil-Figge-Straße 44</a></td>
                    <td><a href="reservierungen-detail">Details</a></td>
                </tr>
            </table>
        </section>
    </main>
    <%- include("parts/aside") %>
</div>

<%- include("parts/footer") %>