<%- include("parts/header", {current: "reservierungen-add"}) %>

<div id="content">
    <section class="headline">
        <h1>Buch reservieren</h1>
    </section>
    <main>
        <section class="form">
            <form id="reserve-form">
                <div class="input-group">
                    <h2>Buchinfos</h2>
                    <label>
                        Buchtitel:
                        <input type="text" name="title" placeholder="Titel" readonly>
                    </label>
                    <label>
                        ISBN:
                        <input type="text" name="place" placeholder="ISBN" readonly>
                    </label>
                    <label>
                        Autor:
                        <input type="text" name="author" placeholder="Autor" required readonly>
                    </label>
                    <label>
                        Erscheinungsjahr:
                        <input type="number" name="release" placeholder="Erscheinungsjahr" max="99999" readonly>
                    </label>
                    <label>
                        Standort:
                        <input type="text" name="place" readonly>
                    </label>
                    </label>
                </div>
                <div class="input-group">
                    <h2>Datum der Reservierung</h2>
                    <label>
                        Datum von:
                        <input type="date" name="beginning-date" required>
                    </label>
                    <label>
                        Datum bis:
                        <input type="date" name="ending-date" required>
                    </label>
                </div>
                <button type="submit" class="button primary filled">Jetzt reservieren</button>
            </form>
        </section>
    </main>
    <%- include("parts/aside") %>
</div>

<%- include("parts/footer") %>