<!DOCTYPE HTML>
<html lang="de">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Buuk</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Oswald:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/themify-icons.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <%- include("parts/header", {current: "standorte-detail"}) %>

        <div id="content">
            <section class="headline">
                <h1>Standort: Emil-Figge-Straße 44</h1>
            </section>
            <main>
                <section class="location-image">
                    <img src="http://www.placehold.it/1200x400" alt="Standort Bild">
                </section>
                <section class="location-detail">
                    <div class="location-detail__contact">
                        <div class="title">Kontaktdaten</div>
                        <ul class="contact-list">
                            <li><i class="ti-location-pin"></i>Emil-Figge-Str. 44<br />44227 Dortmund</li>
                            <li><i class="ti-mobile"></i><a href="#">+49 (0231) 9112-4917</a></li>
                            <li><i class="ti-printer"></i><a href="#">+49 (0231) 9112-4922</a></li>
                        </ul>
                    </div>
                    <div class="location-detail__accordion">
                        <div class="accordion">
                            <div class="acc-title">Öffnungs- und Servicezeiten</div>
                            <div class="acc-content">
                                <div class="inner">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Wochentag</th>
                                                <th>Öffnungszeiten</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Montag</td>
                                                <td>09:00 Uhr - 16:00 Uhr</td>
                                            </tr>
                                            <tr>
                                                <td>Dienstag</td>
                                                <td>09:00 Uhr - 16:00 Uhr</td>
                                            </tr>
                                            <tr>
                                                <td>Mittwoch</td>
                                                <td>09:00 Uhr - 16:00 Uhr</td>
                                            </tr>
                                            <tr>
                                                <td>Donnerstag</td>
                                                <td>09:00 Uhr - 16:00 Uhr</td>
                                            </tr>
                                            <tr>
                                                <td>Freitag</td>
                                                <td>09:00 Uhr - 16:00 Uhr</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="accordion">
                            <div class="acc-title">Ausstattung</div>
                            <div class="acc-content">
                                <div class="inner">
                                    <ul>
                                        <li>Lorem Ipsum</li>
                                        <li>Lorem Ipsum</li>
                                        <li>Lorem Ipsum</li>
                                        <li>Lorem Ipsum</li>
                                        <li>Lorem Ipsum</li>
                                        <li>Lorem Ipsum</li>
                                        <li>Lorem Ipsum</li>
                                        <li>Lorem Ipsum</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="location-books">
                    <h2>Bücher am Standort</h2>
                    <table class="table">
                        <tr>
                            <th>Titel</th>
                            <th>Autor</th>
                            <th>ISBN</th>
                            <th>Jahr</th>
                            <th>Fachrichtung</th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>Lorem Ipsum</td>
                            <td>Andrew S. Tanenbaum</td>
                            <td>3868941371</td>
                            <td>2000</td>
                            <td>Informatik</td>
                            <td><a href="buecher-detail">Details</a></td>
                        </tr>
                        <tr>
                            <td>Lorem Ipsum</td>
                            <td>Andrew S. Tanenbaum</td>
                            <td>3868941371</td>
                            <td>2000</td>
                            <td>Informatik</td>
                            <td><a href="buecher-detail">Details</a></td>
                        </tr>
                        <tr>
                            <td>Lorem Ipsum</td>
                            <td>Andrew S. Tanenbaum</td>
                            <td>3868941371</td>
                            <td>2000</td>
                            <td>Informatik</td>
                            <td><a href="buecher-detail">Details</a></td>
                        </tr>
                        <tr>
                            <td>Lorem Ipsum</td>
                            <td>Andrew S. Tanenbaum</td>
                            <td>3868941371</td>
                            <td>2000</td>
                            <td>Informatik</td>
                            <td><a href="buecher-detail">Details</a></td>
                        </tr>
                        <tr>
                            <td>Lorem Ipsum</td>
                            <td>Andrew S. Tanenbaum</td>
                            <td>3868941371</td>
                            <td>2000</td>
                            <td>Informatik</td>
                            <td><a href="buecher-detail">Details</a></td>
                        </tr>
                    </table>
                </section>
            </main>
            <%- include("parts/aside") %>
        </div>

        <%- include("parts/footer") %>
            <script src="js/scripts.js"></script>
</body>

</html>