<!DOCTYPE HTML>
<html lang="de">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Buuk</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Oswald:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/themify-icons.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <%- include("parts/header") %>

        <div id="content">
            <section class="headline">
                <h1>Standorte</h1>
            </section>
            <main>
                <section class="locations-overview">
                    <div class="location">
                        <div class="inner">
                            <a href="standorte-detail" class="location__image">
                                <img src="http://www.placehold.it/800x400" alt="Standort Emil-Figge-Straße 44">
                            </a>
                            <div class="location__info">
                                <div class="title">Emil-Figge-Straße 44</div>
                                <address>
                                Emil-Figge-Straße 44<br />
                                54321 Dortmund
                            </address>
                            </div>
                            <a href="standorte-detail" class="location__link">
                            Zum Standort <i class="ti-arrow-right"></i>
                        </a>
                        </div>
                    </div>
                    <div class="location">
                        <div class="inner">
                            <a href="standorte-detail" class="location__image">
                                <img src="http://www.placehold.it/800x400" alt="Standort Emil-Figge-Straße 44">
                            </a>
                            <div class="location__info">
                                <div class="title">Emil-Figge-Straße 44</div>
                                <address>
                                Emil-Figge-Straße 44<br />
                                54321 Dortmund
                            </address>
                            </div>
                            <a href="standorte-detail" class="location__link">
                            Zum Standort <i class="ti-arrow-right"></i>
                        </a>
                        </div>
                    </div>
                    <div class="location">
                        <div class="inner">
                            <a href="standorte-detail" class="location__image">
                                <img src="http://www.placehold.it/800x400" alt="Standort Emil-Figge-Straße 44">
                            </a>
                            <div class="location__info">
                                <div class="title">Emil-Figge-Straße 44</div>
                                <address>
                                Emil-Figge-Straße 44<br />
                                54321 Dortmund
                            </address>
                            </div>
                            <a href="standorte-detail" class="location__link">
                            Zum Standort <i class="ti-arrow-right"></i>
                        </a>
                        </div>
                    </div>
                </section>
                <section class="add">
                    <a href="standorte-add" class="button primary filled">Neuen Standort hinzufügen</a>
                </section>
            </main>
            <%- include("parts/aside") %>
        </div>

        <%- include("parts/footer") %>

            <script src="js/scripts.js"></script>
</body>

</html>