<header>
    <div class="header-top">
        <div class="header-top__inner">
            <ul class="contact-list">
                <li><a href="#"><i class="ti-mobile"></i>+49 (0) 231 91127991</a></li>
                <li><a href="#"><i class="ti-email"></i>bib@fh-dortmund.de</a></li>
            </ul>
            <a href="#" class="fh-link"><i class="ti-link"></i>Website der FH Dortmund</a>
        </div>
    </div>
    <div class="header-bottom">
        <div class="header-bottom__inner">
            <a href="index" class="logo"><img src="/img/logo.png" alt="Buuk Logo"></a>
            <nav class="main-nav">
                <ul>
                    <li class="active"><a href="index">Dashboard</a></li>
                    <li><a href="/buecher">Bücher</a></li>
                    <li><a href="/autoren">Autoren</a></li>
                    <li><a href="/standorte">Standorte</a></li>
                </ul>
            </nav>
            <div class="profile-link">
                <div class="profile-link__trigger" id="menu-trigger">
                    <div class="image"><img src="http://www.placehold.it/100x100" alt="Profile Image"></div>
                    <div class="name">Max Mustermann<i class="ti-angle-down"></i></div>
                </div>
                <div class="profile-link__menu" id="user-menu">
                    <ul>
                        <li><a href="/profil">Mein Profil</a></li>
                        <li><a href="/reservierungen">Meine Reservierungen</a></li>
                        <li><a href="/ausleihen">Meine Ausleihen</a></li>
                        <li><a href="/logout">Abmelden</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>